#cloud-config
ssh_authorized_keys:
{% for public_key in ssh_authorized_keys %}
  - {{ public_key }}
{% endfor %}

hostname: "{{ inventory_hostname }}"

rancher:
  console: "{{ rancheros_vm_console }}"
  cloud_init:
    datasources:
    - configdrive:/media/config-2
  environment:
    EXTRA_CMDLINE: /init
  state:
    autoformat:
    - /dev/sda
    - /dev/vda
    dev: LABEL=RANCHER_STATE
    wait: true

  network:
    interfaces:
      {{ rancheros_vm_net }}:
{% if ansible_host | ipaddr('bool') %}
        dhcp: false
        mtu: 1500
        address: "{{ ansible_host }}{{ rancheros_vm_subnet }}"
{% if rancheros_vm_gateway is defined %}
        gateway: "{{ rancheros_vm_gateway }}"
{% endif %}
    dns:
      nameservers:
        - "{{ rancheros_vm_dns | default('1.1.1.1') }}"
{% else %}
        dhcp: true
{% endif %}

{% if nfs_mounts is defined %}
mounts:
{% for mount in nfs_mounts %}
- - {{ mount.url }}
  - {{ mount.path }}
  - nfs4
  - ""
{% endfor %}
{% endif %}

{% if rancheros_vm_console == "ubuntu" %}
write_files:
  - path: /etc/rc.local
    permissions: "0755"
    owner: root
    content: |
      #!/bin/bash
      echo "I'm doing things on start"
      apt-get -y update
      apt-get -y install python
{% elif rancheros_vm_console == "alpine" %}
runcmd:
  - [ apk, update ]
  - [ apk, add, python3, py3-pip ]
{% endif %}